#container-blog{
  display: block;
  margin: 0px;
  border: 0px;
  padding: 10px;
  box-sizing: border-box;
}

#container-blog h1{
  margin: 0px;
  border: 0px;
  padding: 0px;
}

#article-blog{

}

.article-blog{
  margin: 5px;
  padding: 30px;
  border-style: solid;
  border-width: 2px;
  border-color: red;
  background-color: #808080;
}

.title-article-blog{
  margin-bottom: 25px;
}

.title-article-blog h4{
  text-align: right;
  font-weight: bolder;
}

#list-blog{
  font-size: 1.2em;
}

#list-blog a{
  text-decoration: none;
  color: black
}


/********** Extra Large devices only **********/
@media (min-width: 1800px) {}

/********** Extra Large devices only **********/
@media (min-width: 1440px) and (max-width: 1799px){}

/********** Large devices only **********/
@media (min-width: 1200px) and (max-width: 1439px){}

/********** Medium devices only **********/
@media (min-width: 992px) and (max-width: 1199px) {}

/********** Small devices only **********/
@media (min-width: 768px) and (max-width: 991px) {}

/********** Extra small devices only **********/
@media (max-width: 767px) {}

/********** Super extra small devices Only :-) (e.g., iPhone 4) **********/
@media (max-width: 479px) {}
