html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  font-size: 16px;
  color: #000;
  background-color: #FFF;
  font-family: 'Oxygen', sans-serif;
  overflow-y: hidden;
  display: flex;
  flex-direction: column;
}

body .container-fluid{
  width: 100%;
  height: 95%;
  overflow-y: auto;
  margin: 0;
  padding: 0;
  border: 0;
}

/*COLOR*/
#header-nav{background-color: #13DC4B;}
.panel-footer{background-color: #13DC4B;}




.initial-loading {
  margin-top: 60px;
}


/** Scrollbar **/
body .container-fluid::-webkit-scrollbar {
  display: none;
}


/** Header **/
#header-nav {
  border-radius: 0;
  border: 0;
}

.navbar{
  /*text-align: center;*/
  margin: 0;
}

.navbar-header {
  padding-top: 0px;
  float:none;
}

.navbar-header h1 {
  color: #000;
  margin-left: 5px;
  /*text-align: center;*/
  text-transform: uppercase;
  font-weight: bold;
  font-style: italic;
  text-shadow: 1px 1px 1px #909090;
}

#collapsable-nav{
  float: right;
  text-align: right;
  color: black;
}
#nav-list li{
  float: right;
}
#nav-list h3{
 padding: 5px;
}

/** Footer **/
.panel-footer {
  border-radius: 0;
  border: 0;
}

.footer{
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 40px;
}

.footer div{
  margin-bottom: 10px;
}

/** Loading **/
.loading-indicator {
    display: block;
    width: 70px;
    position: fixed;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: 40%;
    z-index: 100;
    background-color: #FFF;
}

.loading-indicator img {
    width: 70px;
    background-color: #FFF;
}

.ui-view-placeholder {
    margin-top: 60px;
}
