/* Commun of Home */
#home-elements{
  list-style: none;
  width: 100%;
  margin: 0;
  padding: 0;
  border: 0;
}

#home-section-content{
  width: 100%;
  margin: 0;
  padding: 0;
  border: 0;
}

#home-presentation{
  position: relative;
  width: 100%;
  height: 90vh;
  background-color: red;
  overflow: hidden;
}

#home-company{
  position: relative;
  width: 100%;
  height: 90vh;
  background-color: blue;
  overflow: hidden;
}

#home-ideology{
  position: relative;
  width: 100%;
  height: 90vh;
  background-color: red;
  overflow: hidden;
}

#home-projects{
  position: relative;
  width: 100%;
  height: 70vh;
  background-color: blue;
  overflow: hidden;
}

#home-blog{
  position: relative;
  width: 100%;
  height: 20vh;
  background-color: red;
  overflow: hidden;
}

/********** Extra Large devices only **********/
@media (min-width: 1800px) {}

/********** Extra Large devices only **********/
@media (min-width: 1440px) and (max-width: 1799px){

  /* Presentation */
    #picture-camille{
      height: 50vh;
    }

    #presentation-camille{
      height: 50vh;
      text-align: center;
    }

    #picture-theophile{
      height: 50vh;
    }

    #presentation-theophile{
      height: 50vh;
      text-align: center;
    }

  /* Company */
    .home-company-title{
      margin-top: 20px;
    }

    .home-company-title h3{
      font-size: 2.9em;
      font-weight: bold;
      transform: translate(20vw,30vh);
    }

    .home-company-content{}

    .home-company-content p{
      font-size: 1.5em;
      width: 30vw;
      transform: translate(20vw,20vh);
    }

  /* Ideology */
    .home-ideology-title{
      float: right;
    }

    .home-ideology-title h3{
      font-size: 2.9em;
      font-weight: bold;
      transform: translate(-20vw,40vh);
    }

    .home-ideology-content{
      float: left;
    }

    .home-ideology-content p{
      font-size: 1.5em;
      width: 30vw;
      transform: translate(20vw,20vh);
    }

  /* Project */
    .home-projects-title{

    }

    .home-projects-title h3{
      font-size: 2.9em;
      font-weight: bold;
      transform: translate(20vw,30vh);
    }

    .our-project{
      position: relative;
      margin: 15px;
      background: grey;
      width: 20vw;
      height: 50vh;
      transform: translate(20vw,10vh);
    }

    .our-project span{
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      text-align: center;
      color: white;
      background-color: black;
      opacity: 0.8;
    }

    .our-project:hover{
      background-color: green;
      opacity: 0.8;
    }

  /* Blog */
    #home-blog{}

    #home-blog h2{
      font-size: 2.9em;
      font-weight: bold;
      transform: translate(0,2vh);
    }

    #home-blog:hover{
      color: white;
    }
}

/********** Large devices only **********/
@media (min-width: 1200px) and (max-width: 1439px){

  /* Presentation */
    #picture-camille{
      height: 50vh;
    }

    #presentation-camille{
      height: 50vh;
      text-align: center;
    }

    #picture-theophile{
      height: 50vh;
    }

    #presentation-theophile{
      height: 50vh;
      text-align: center;
    }

  /* Company */
    .home-company-title{
      margin-top: 20px;
    }

    .home-company-title h3{
      font-size: 2.9em;
      font-weight: bold;
      transform: translate(20vw,30vh);
    }

    .home-company-content{}

    .home-company-content p{
      font-size: 1.5em;
      width: 30vw;
      transform: translate(20vw,20vh);
    }

  /* Ideology */
    .home-ideology-title{
      float: right;
    }

    .home-ideology-title h3{
      font-size: 2.9em;
      font-weight: bold;
      transform: translate(-20vw,40vh);
    }

    .home-ideology-content{
      float: left;
    }

    .home-ideology-content p{
      font-size: 1.5em;
      width: 30vw;
      transform: translate(20vw,20vh);
    }

  /* Project */
    .home-projects-title{

    }

    .home-projects-title h3{
      font-size: 2.9em;
      font-weight: bold;
      transform: translate(20vw,30vh);
    }

    .our-project{
      position: relative;
      margin: 15px;
      background: grey;
      width: 20vw;
      height: 50vh;
      transform: translate(20vw,10vh);
    }

    .our-project span{
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      text-align: center;
      color: white;
      background-color: black;
      opacity: 0.8;
    }

    .our-project:hover{
      background-color: green;
      opacity: 0.8;
    }

  /* Blog */
    #home-blog{}

    #home-blog h2{
      font-size: 2.9em;
      font-weight: bold;
      transform: translate(0,2vh);
    }

    #home-blog:hover{
      color: white;
    }


}

/********** Medium devices only **********/
@media (min-width: 992px) and (max-width: 1199px) {

  /* Presentation */
    #picture-camille{
      height: 50vh;
    }

    #presentation-camille{
      height: 50vh;
      text-align: center;
    }

    #picture-theophile{
      height: 50vh;
    }

    #presentation-theophile{
      height: 50vh;
      text-align: center;
    }

  /* Company */
    .home-company-title{
      margin-top: 20px;
    }

    .home-company-title h3{
      font-size: 2.9em;
      font-weight: bold;
      transform: translate(20vw,30vh);
    }

    .home-company-content{}

    .home-company-content p{
      font-size: 1.5em;
      width: 30vw;
      transform: translate(20vw,20vh);
    }

  /* Ideology */
    .home-ideology-title{
      float: right;
    }

    .home-ideology-title h3{
      font-size: 2.9em;
      font-weight: bold;
      transform: translate(-20vw,40vh);
    }

    .home-ideology-content{
      float: left;
    }

    .home-ideology-content p{
      font-size: 1.5em;
      width: 30vw;
      transform: translate(20vw,20vh);
    }

  /* Project */
    .home-projects-title{

    }

    .home-projects-title h3{
      font-size: 2.9em;
      font-weight: bold;
      transform: translate(20vw,30vh);
    }

    .our-project{
      position: relative;
      margin: 15px;
      background: grey;
      width: 20vw;
      height: 50vh;
      transform: translate(20vw,10vh);
    }

    .our-project span{
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      text-align: center;
      color: white;
      background-color: black;
      opacity: 0.8;
    }

    .our-project:hover{
      background-color: green;
      opacity: 0.8;
    }

  /* Blog */
    #home-blog{}

    #home-blog h2{
      font-size: 2.9em;
      font-weight: bold;
      transform: translate(0,2vh);
    }

    #home-blog:hover{
      color: white;
    }

}

/********** Small devices only **********/
@media (min-width: 768px) and (max-width: 991px) {

  /* Presentation */
    #picture-camille{
      height: 50vh;
    }

    #presentation-camille{
      height: 50vh;
      text-align: center;
    }

    #picture-theophile{
      height: 50vh;
    }

    #presentation-theophile{
      height: 50vh;
      text-align: center;
    }

  /* Company */
    .home-company-title{
      margin-top: 20px;
    }

    .home-company-title h3{
      font-size: 2.9em;
      font-weight: bold;
      transform: translate(20vw,30vh);
    }

    .home-company-content{}

    .home-company-content p{
      font-size: 1.5em;
      width: 30vw;
      transform: translate(20vw,20vh);
    }

  /* Ideology */
    .home-ideology-title{
      float: right;
    }

    .home-ideology-title h3{
      font-size: 2.9em;
      font-weight: bold;
      transform: translate(-20vw,40vh);
    }

    .home-ideology-content{
      float: left;
    }

    .home-ideology-content p{
      font-size: 1.5em;
      width: 30vw;
      transform: translate(20vw,20vh);
    }

  /* Project */
    .home-projects-title{

    }

    .home-projects-title h3{
      font-size: 2.9em;
      font-weight: bold;
      transform: translate(20vw,30vh);
    }

    .our-project{
      position: relative;
      margin: 15px;
      background: grey;
      width: 20vw;
      height: 50vh;
      transform: translate(20vw,10vh);
    }

    .our-project span{
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      text-align: center;
      color: white;
      background-color: black;
      opacity: 0.8;
    }

    .our-project:hover{
      background-color: green;
      opacity: 0.8;
    }

  /* Blog */
    #home-blog{}

    #home-blog h2{
      font-size: 2.9em;
      font-weight: bold;
      transform: translate(0,2vh);
    }

    #home-blog:hover{
      color: white;
    }

}

/********** Extra small devices only **********/
@media (max-width: 767px) {

  /* Presentation */
    #picture-camille{
      height: 50vh;
    }

    #presentation-camille{
      height: 50vh;
      text-align: center;
    }

    #picture-theophile{
      height: 50vh;
    }

    #presentation-theophile{
      height: 50vh;
      text-align: center;
    }

  /* Company */
    .home-company-title{
      margin-top: 20px;
    }

    .home-company-title h3{
      font-size: 2.9em;
      font-weight: bold;
      transform: translate(20vw,30vh);
    }

    .home-company-content{}

    .home-company-content p{
      font-size: 1.5em;
      width: 30vw;
      transform: translate(20vw,20vh);
    }

  /* Ideology */
    .home-ideology-title{
      float: right;
    }

    .home-ideology-title h3{
      font-size: 2.9em;
      font-weight: bold;
      transform: translate(-20vw,40vh);
    }

    .home-ideology-content{
      float: left;
    }

    .home-ideology-content p{
      font-size: 1.5em;
      width: 30vw;
      transform: translate(20vw,20vh);
    }

  /* Project */
    .home-projects-title{

    }

    .home-projects-title h3{
      font-size: 2.9em;
      font-weight: bold;
      transform: translate(20vw,30vh);
    }

    .our-project{
      position: relative;
      margin: 15px;
      background: grey;
      width: 20vw;
      height: 50vh;
      transform: translate(20vw,10vh);
    }

    .our-project span{
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      text-align: center;
      color: white;
      background-color: black;
      opacity: 0.8;
    }

    .our-project:hover{
      background-color: green;
      opacity: 0.8;
    }

  /* Blog */
    #home-blog{}

    #home-blog h2{
      font-size: 2.9em;
      font-weight: bold;
      transform: translate(0,2vh);
    }

    #home-blog:hover{
      color: white;
    }

}

/********** Super extra small devices Only :-) (e.g., iPhone 4) **********/
@media (max-width: 479px) {



}
