/* Commun of Home */
#home-elements{
  list-style: none;
  width: 100%;
  margin: 0;
  padding: 0;
  border: 0;
}

#home-section-content{
  width: 100%;
  margin: 0;
  padding: 0;
  border: 0;
}

/*COLOR*/
#home-presentation{
  background-image: url("images/dodge_wait_till_our_picture.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  filter: blur(20%);
  filter: grayscale(100%);
  background-color: #91e0e6;
}
#home-company{background-color: #ded6a5}
#home-ideology{background-color: #99e387}
#home-projects{background-color: #ded6a5}
#home-blog{background-color: #91e0e6}

/*ELEMENTS*/
#home-presentation{
  position: relative;
  width: 100%;
  height: 90vh;
  overflow: hidden;
}

#home-company{
  position: relative;
  width: 100%;
  height: 90vh;
  overflow: hidden;
}

#home-ideology{
  position: relative;
  width: 100%;
  height: 90vh;
  overflow: hidden;
}

#home-projects{
  position: relative;
  width: 100%;
  height: 70vh;
  overflow: hidden;
}

#home-blog{
  position: relative;
  width: 100%;
  height: 20vh;
  overflow: hidden;
}

/********** Extra Large devices only **********/
@media (min-width: 1800px) {

  /* Presentation */
    #picture-camille{
      height: 50vh;
    }

    #presentation-camille{
      height: 50vh;
      text-align: center;
    }

    #presentation-camille h2{
      font-size: 4.0em;
    }

    #presentation-camille p{
      font-size: 2.0em;
    }

    #picture-theophile{
      height: 50vh;
    }

    #presentation-theophile{
      height: 50vh;
      text-align: center;
    }

    #presentation-theophile h2{
      font-size: 4.0em;
    }

    #presentation-theophile p{
      font-size: 2.0em;
    }

  /* Company */
    .home-company-title{
      margin-top: 20px;
    }

    .home-company-title h3{
      font-size: 4.9em;
      font-weight: bold;
      transform: translate(20vw,30vh);
    }

    .home-company-content{}

    .home-company-content p{
      font-size: 2.5em;
      width: 30vw;
      transform: translate(20vw,20vh);
    }

  /* Ideology */
    .home-ideology-title{
      float: right;
    }

    .home-ideology-title h3{
      font-size: 4.9em;
      font-weight: bold;
      transform: translate(-20vw,40vh);
    }

    .home-ideology-content{
      float: left;
    }

    .home-ideology-content p{
      font-size: 2.5em;
      width: 30vw;
      transform: translate(20vw,20vh);
    }

  /* Project */
    .home-projects-title{

    }

    .home-projects-title h3{
      font-size: 4.9em;
      font-weight: bold;
      transform: translate(20vw,30vh);
    }

    #mosquito-mapper{
      background-image: url("/images/mosquitomapper_logo.png");
      background-size: cover;
    }

    .our-project{
      position: relative;
      margin: 15px;
      background: grey;
      width: 20vw;
      height: 50vh;
      transform: translate(20vw,10vh);
    }

    .our-project span{
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      text-align: center;
      color: white;
      background-color: black;
      opacity: 0.8;
    }

    .our-project:hover{
      background-color: green;
      opacity: 0.8;
    }

  /* Blog */
    #home-blog{}

    #home-blog h2{
      font-size: 4.9em;
      font-weight: bold;
      transform: translate(0,7vh);
    }

    #home-blog:hover{
      color: white;
    }

}

/********** Extra Large devices only **********/
@media (min-width: 1440px) and (max-width: 1799px){

  /* Presentation */
    #picture-camille{
      height: 50vh;
    }

    #presentation-camille{
      height: 50vh;
      text-align: center;
    }

    #picture-theophile{
      height: 50vh;
    }

    #presentation-theophile{
      height: 50vh;
      text-align: center;
    }

  /* Company */
    .home-company-title{
      margin-top: 20px;
    }

    .home-company-title h3{
      font-size: 2.9em;
      font-weight: bold;
      transform: translate(20vw,30vh);
    }

    .home-company-content{}

    .home-company-content p{
      font-size: 1.5em;
      width: 30vw;
      transform: translate(20vw,20vh);
    }

  /* Ideology */
    .home-ideology-title{
      float: right;
    }

    .home-ideology-title h3{
      font-size: 2.9em;
      font-weight: bold;
      transform: translate(-20vw,40vh);
    }

    .home-ideology-content{
      float: left;
    }

    .home-ideology-content p{
      font-size: 1.5em;
      width: 30vw;
      transform: translate(20vw,20vh);
    }

  /* Project */
    .home-projects-title{

    }

    .home-projects-title h3{
      font-size: 2.9em;
      font-weight: bold;
      transform: translate(20vw,30vh);
    }

    #mosquito-mapper{
      background-image: url("/images/mosquitomapper_logo.png");
      background-size: cover;
    }

    .our-project{
      position: relative;
      margin: 15px;
      background: darkgray;
      width: 20vw;
      height: 50vh;
      transform: translate(20vw,10vh);
    }

    .our-project span{
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      text-align: center;
      color: white;
      background-color: black;
      opacity: 0.8;
    }

    .our-project:hover{
      background-color: green;
      opacity: 0.8;
    }

  /* Blog */
    #home-blog{}

    #home-blog h2{
      font-size: 2.9em;
      font-weight: bold;
      transform: translate(0,2vh);
    }

    #home-blog:hover{
      color: white;
    }
}

/********** Large devices only **********/
@media (min-width: 1200px) and (max-width: 1439px){

  /* Presentation */
    #picture-camille{
      height: 50vh;
    }

    #presentation-camille{
      height: 50vh;
      text-align: center;
    }

    #picture-theophile{
      height: 50vh;
    }

    #presentation-theophile{
      height: 50vh;
      text-align: center;
    }

  /* Company */
    .home-company-title{
      margin-top: 20px;
    }

    .home-company-title h3{
      font-size: 2.9em;
      font-weight: bold;
      transform: translate(20vw,30vh);
    }

    .home-company-content{}

    .home-company-content p{
      font-size: 1.5em;
      width: 30vw;
      transform: translate(20vw,20vh);
    }

  /* Ideology */
    .home-ideology-title{
      float: right;
    }

    .home-ideology-title h3{
      font-size: 2.9em;
      font-weight: bold;
      transform: translate(-20vw,40vh);
    }

    .home-ideology-content{
      float: left;
    }

    .home-ideology-content p{
      font-size: 1.5em;
      width: 30vw;
      transform: translate(20vw,20vh);
    }

  /* Project */
    .home-projects-title{

    }

    .home-projects-title h3{
      font-size: 2.9em;
      font-weight: bold;
      transform: translate(20vw,30vh);
    }

    #mosquito-mapper{
      background-image: url("/images/mosquitomapper_logo.png");
      background-size: cover;
    }

    .our-project{
      position: relative;
      margin: 15px;
      background-color: darkgrey;
      width: 20vw;
      height: 50vh;
      transform: translate(20vw,10vh);
    }

    .our-project span{
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      text-align: center;
      color: white;
      background-color: black;
      opacity: 0.8;
    }

    .our-project:hover{
      background-color: green;
      opacity: 0.8;
    }

  /* Blog */
    #home-blog{}

    #home-blog h2{
      font-size: 2.9em;
      font-weight: bold;
      transform: translate(0,2vh);
    }

    #home-blog:hover{
      color: white;
    }


}

/********** Medium devices only **********/
@media (min-width: 992px) and (max-width: 1199px) {

  /* Presentation */
    #picture-camille{
      height: 50vh;
    }

    #presentation-camille{
      height: 50vh;
      text-align: center;
    }

    #picture-theophile{
      height: 50vh;
    }

    #presentation-theophile{
      height: 50vh;
      text-align: center;
    }

  /* Company */
    .home-company-title{
      margin-top: 20px;
    }

    .home-company-title h3{
      font-size: 2.2em;
      font-weight: bold;
      transform: translate(20vw,30vh);
    }

    .home-company-content{}

    .home-company-content p{
      font-size: 1.3em;
      width: 30vw;
      transform: translate(20vw,20vh);
    }

  /* Ideology */
    .home-ideology-title{
      float: right;
    }

    .home-ideology-title h3{
      font-size: 2.2em;
      font-weight: bold;
      transform: translate(-20vw,40vh);
    }

    .home-ideology-content{
      float: left;
    }

    .home-ideology-content p{
      font-size: 1.3em;
      width: 30vw;
      transform: translate(20vw,20vh);
    }

  /* Project */
    .home-projects-title{

    }

    .home-projects-title h3{
      font-size: 2.9em;
      font-weight: bold;
      transform: translate(20vw,30vh);
    }

    #mosquito-mapper{
      background-image: url("/images/mosquitomapper_logo.png");
      background-size: cover;
    }

    .our-project{
      position: relative;
      margin: 15px;
      background: grey;
      width: 20vw;
      height: 50vh;
      transform: translate(20vw,10vh);
    }

    .our-project span{
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      text-align: center;
      color: white;
      background-color: black;
      opacity: 0.8;
    }

    .our-project:hover{
      background-color: green;
      opacity: 0.8;
    }

  /* Blog */
    #home-blog{}

    #home-blog h2{
      font-size: 2.9em;
      font-weight: bold;
      transform: translate(0,2vh);
    }

    #home-blog:hover{
      color: white;
    }

}

/********** Small devices only **********/
@media (min-width: 768px) and (max-width: 991px) {

  /* Presentation */
    #picture-camille{
      height: 25vh;
    }

    #presentation-camille{
      height: 25vh;
      text-align: center;
    }

    #presentation-camille h2{
      font-size: 2.0em;
    }

    #presentation-camille p{
      font-size: 1.0em;
    }

    #picture-theophile{
      height: 25vh;
    }

    #presentation-theophile{
      height: 25vh;
      text-align: center;
    }

    #presentation-theophile h2{
      font-size: 2.0em;
    }

    #presentation-theophile p{
      font-size: 1em;
    }

  /* Company */
    .home-company-title{
      margin-top: 20px;
    }

    .home-company-title h3{
      font-size: 2.9em;
      font-weight: bold;
      transform: translate(20vw,40vh);
    }

    .home-company-content{}

    .home-company-content p{
      font-size: 1.3em;
      width: 30vw;
      transform: translate(50vw,10vh);
    }

  /* Ideology */
    .home-ideology-title{
      float: right;
    }

    .home-ideology-title h3{
      font-size: 2.9em;
      font-weight: bold;
      transform: translate(60vw,40vh);
    }

    .home-ideology-content{
      float: left;
    }

    .home-ideology-content p{
      font-size: 1.3em;
      width: 30vw;
      transform: translate(20vw,20vh);
    }

  /* Project */
    .home-projects-title{

    }

    .home-projects-title h3{
      font-size: 2.9em;
      font-weight: bold;
      text-align: center;
      transform: translate(0vw,15vh);
    }

    #mosquito-mapper{
      background-image: url("/images/mosquitomapper_logo.png");
      background-size: cover;
    }

    .our-project{
      position: relative;
      margin: 20px;
      background: grey;
      width: 30vw;
      height: 25vh;
      transform: translate(15vw,20vh);
    }

    .our-project span{
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      text-align: center;
      color: white;
      background-color: black;
      opacity: 0.8;
    }

    .our-project:hover{
      background-color: green;
      opacity: 0.8;
    }

  /* Blog */
    #home-blog{}

    #home-blog h2{
      font-size: 2.9em;
      font-weight: bold;
      transform: translate(0,7vh);
    }

    #home-blog:hover{
      color: white;
    }

}

/********** Extra small devices only **********/
@media (min-width: 479px) and (max-width: 767px) {

  /* Presentation */
    #picture-camille{
      height: 25vh;
    }

    #presentation-camille{
      height: 25vh;
      text-align: center;
    }

    #presentation-camille h2{
      font-size: 3.0em;
    }

    #presentation-camille p{
      font-size: 1.5em;
    }

    #picture-theophile{
      height: 25vh;
    }

    #presentation-theophile{
      height: 25vh;
      text-align: center;
    }

    #presentation-theophile h2{
      font-size: 3.0em;
    }

    #presentation-theophile p{
      font-size: 1.5em;
    }

  /* Company */
    .home-company-title{
      margin-top: 20px;
    }

    .home-company-title h3{
      font-size: 2.9em;
      font-weight: bold;
      transform: translate(20vw,40vh);
    }

    .home-company-content{}

    .home-company-content p{
      font-size: 1.5em;
      width: 30vw;
      transform: translate(50vw,20vh);
    }

  /* Ideology */
    .home-ideology-title{
      float: right;
    }

    .home-ideology-title h3{
      font-size: 2.9em;
      font-weight: bold;
      transform: translate(60vw,40vh);
    }

    .home-ideology-content{
      float: left;
    }

    .home-ideology-content p{
      font-size: 1.5em;
      width: 30vw;
      transform: translate(20vw,20vh);
    }

  /* Project */
    .home-projects-title{

    }

    .home-projects-title h3{
      font-size: 2.9em;
      font-weight: bold;
      text-align: center;
      transform: translate(0vw,15vh);
    }

    #mosquito-mapper{
      background-image: url("/images/mosquitomapper_logo.png");
      background-size: cover;
    }

    .our-project{
      position: relative;
      margin: 20px;
      background: grey;
      width: 30vw;
      height: 25vh;
      transform: translate(15vw,20vh);
    }

    .our-project span{
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      text-align: center;
      color: white;
      background-color: black;
      opacity: 0.8;
    }

    .our-project:hover{
      background-color: green;
      opacity: 0.8;
    }

  /* Blog */
    #home-blog{}

    #home-blog h2{
      font-size: 2.9em;
      font-weight: bold;
      transform: translate(0,7vh);
    }

    #home-blog:hover{
      color: white;
    }

}

/********** Super extra small devices Only :-) (e.g., iPhone 4) **********/
@media (max-width: 479px) {}
