/*About all Mosquito Project*/
#mosquito-mapper-content{
  box-sizing: border-box;
  list-style: none;
  width: 100%;
  padding: 0;
  margin: 0;
}

#mosquito-elements{
  box-sizing: border-box;
  list-style: none;
  width: 100%;
  padding: 0;
}

/*COLOR*/
.projects-presentation-content{background-color: #ded6a5;}
#projects-quizz{background-color: #c8e8c8;}
#projects-identification{background-color: #c5d2c6;}
/*If change the identification color think about change the area */

.projects-presentation-content{
  height: 100%;
}

/*PROJECT*/
#projects-presentation{
  padding: 0;
}

#projects-presentation h2{
  font-size: 3em;
  font-weight: bold;
  text-align: center;
  margin-bottom: 25px;
}

#projects-presentation h4{
  font-weight: bold;
  font-size: 1.5em;
  margin-top: 15px;
  margin-bottom: 20px;
}

#projects-presentation p{
  text-align: justify;
}

#projects-presentation img{
  float: right;
}

/*QUIZZ*/
.map-mosquitoes-mapper{
  text-align: center;
}

.daytime-mosquitoes{
  margin-top: 30px;
}

.daytime-mosquitoes h3{
  margin-bottom: 5px;
}

.daytime-mosquitoes canvas{
  margin-top: 5px;
}

.number-mosquitoes{
  margin-top: 20px;
  position: relative;
}

.text-number-mosquitoes{
  height: 300px;
  float: left;
  position: relative;
  text-align: center;
  align-items: center;
}

.elements-text-number-mosquitoes{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.pie-number-mosquitoes{
  float: right;
}

.size-mosquitoes{
  position: relative;
}

.text-size-mosquitoes{
  height: 300px;
  position: relative;
  text-align: center;
  align-items: center;
}

.elements-text-size-mosquitoes{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.temperature-mosquitoes{
  position: relative;
}

/*#temperature-mosquitoes-canvas{
  background-color: #D2D823;
}*/

.text-temperature-mosquitoes{
  height: 300px;
  float: left;
  position: relative;
  text-align: center;
  align-items: center;
}

.elements-text-temperature-mosquitoes{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.pie-temperature-mosquitoes{
  float: right;
}

.picture-mosquitoes{
  margin-top: 10px;
}

#place-mosquitoes-canvas{
}

#water-mosquitoes-canvas{
}

/*IDENTIFICATION*/
#projects-identification{
  text-align: center;
}

.pie-identification canvas{
  background-color: #c79ab1;
  border-radius: 25px;
}

#antennae-identification-area{
  padding: 15px;
  border-style: solid;
  border-color: #c5d2c6;
  border-radius: 25px;
  background-color: #c79ab1;
}

#mouthpiece-identification-area{
  padding: 15px;
  border-style: solid;
  border-color: #c5d2c6;
  border-radius: 25px;
  background-color: #c79ab1;
}

#wings-identification-area{
  padding: 15px;
  border-style: solid;
  border-color: #c5d2c6;
  border-radius: 25px;
  background-color: #c79ab1;
}


/********** Extra Large devices only **********/
@media (min-width: 1800px) {

/*PROJECT*/
#projects-presentation{
  height: 90vh;
}

#projects-presentation img{
  float: right;
  width: 25vw;
  height: 25vw;
}

/*QUIZZ*/
#projects-quizz{
  height: 2470px;
}

#projects-quizz h2{
  text-align: center;
  padding: 5px;
  margin-left: 400px;
  margin-right: 400px;
  border-width: 2px;
  border-color: black;
  border-style: solid;
}

#map-mosquitoes{
  /*margin-left: 350px;
  width: 1800px;
  height: 800px;*/
}

/*IDENTIFICATION*/
#projects-identification{
  height: 580px;
}

#projects-identification h2{
  padding: 5px;
  margin-left: 400px;
  margin-right: 400px;
  border-width: 2px;
  border-color: black;
  border-style: solid;
}

}

/********** Extra Large devices only **********/
@media (min-width: 1440px) and (max-width: 1799px){

  /*PROJECT*/
  #projects-presentation{
    height: 90vh;
  }

  #projects-presentation img{
    float: right;
    width: 25vw;
    height: 25vw;
  }

  /*QUIZZ*/
  #projects-quizz{
    height: 350vh;
  }

  #projects-quizz h2{
    text-align: center;
    padding: 5px;
    margin-left: 400px;
    margin-right: 400px;
    border-width: 2px;
    border-color: black;
    border-style: solid;
  }

  #map-mosquitoes{
    /*width: 1300px;
    height: 500px;*/
  }

  /*IDENTIFICATION*/
  #projects-identification{
    height: 80vh;
  }

  #projects-identification h2{
    padding: 5px;
    margin-left: 400px;
    margin-right: 400px;
    border-width: 2px;
    border-color: black;
    border-style: solid;
  }

}

/********** Large devices only **********/
@media (min-width: 1200px) and (max-width: 1439px){

/*PROJECT*/
#projects-presentation{
  height: 90vh;
}

#projects-presentation img{
  width: 25vw;
  height: 25vw;
}

/*QUIZZ*/
#projects-quizz{
  height: 350vh;
}

#projects-quizz h2{
  text-align: center;
  padding: 5px;
  margin-left: 400px;
  margin-right: 400px;
  border-width: 2px;
  border-color: black;
  border-style: solid;
}

#map-mosquitoes{
  /*margin-left: 25px;
  width: 1300px;
  height: 500px;*/
}

/*IDENTIFICATION*/
#projects-identification{
  height: 580px;
}

#projects-identification h2{
  padding: 5px;
  margin-left: 400px;
  margin-right: 400px;
  border-width: 2px;
  border-color: black;
  border-style: solid;
}

}

/********** Medium devices only **********/
@media (min-width: 992px) and (max-width: 1199px) {

/*PROJECT*/
#projects-presentation{
  height: 100vh;
}

#projects-presentation img{
  width: 30vw;
  height: 30vw;
}

/*QUIZZ*/
#projects-quizz{
  height: 330vh;
}

#projects-quizz h2{
  text-align: center;
  font-weight: bold;
  padding: 5px;
}

#map-mosquitoes{
  /*margin-left: 5px;
  width: 950px;
  height: 400px;*/
}

#daytime-mosquitoes-canvas{
  width: 950px;
  height: 400px;
}

/*IDENTIFICATION*/
#projects-identification{
  height: 80vh;
}

#projects-identification h2{
  font-weight: bold;
  padding: 5px;
}

}
  /********** Small devices only **********/
@media (min-width: 768px) and (max-width: 991px) {


  /*PROJECT*/
  #projects-presentation{
    height: 100vh;
  }

  #projects-presentation img{
    width: 30vw;
    height: 30vw;
  }

  /*QUIZZ*/
  #projects-quizz{
    height: 490vh;
  }

  #projects-quizz h2{
    text-align: center;
    font-weight: bold;
    padding: 5px;
  }

  #map-mosquitoes{
    /*margin-left: 85px;
    width: 750px;
    height: 400px;*/
  }

  #daytime-mosquitoes-canvas{
    width: 850px;
    height: 400px;
  }

  /*IDENTIFICATION*/
  #projects-identification{
    height: 1350px;
  }

  #projects-identification h2{
    font-weight: bold;
    padding: 5px;
  }

  .pie-identification canvas{
    background-color: #D8BF23;
  }

  #antennae-identification-area{
    background-color: #D8BF23;
  }

  #mouthpiece-identification-area{
    background-color: #D8BF23;
  }

  #wings-identification-area{
    background-color: #D8BF23;
  }

}

/********** Extra small devices only **********/
@media (max-width: 767px) {

  /*PROJECT*/
  #projects-presentation{
    height: 165vh;
  }

  #projects-presentation img{
    width: 100%;
  }

  /*QUIZZ*/
  #projects-quizz{
    height: 490vh;
  }

  #daytime-mosquitoes-canvas{
    width: 500px;
    height: 300px;
  }

  /*IDENTIFICATION*/
  #projects-identification{
    height: 180vh;
  }

}

/********** Super extra small devices Only :-) (e.g., iPhone 4) **********/
@media (max-width: 479px) {

  /*PROJECT*/
  #projects-presentation{
    height: 195vh;
  }

  /*QUIZZ*/
  #projects-quizz{
    height: 490vh;
  }


}
