/*About all Mosquito Project*/
#mosquito-mapper-content{
  box-sizing: border-box;
  list-style: none;
  width: 100%;
  padding: 0;
  margin: 0;
}

#mosquito-elements{
  box-sizing: border-box;
  list-style: none;
  width: 100%;
  padding: 0;
}

.projects-presentation-title{
  float: right;
  height: 100%;
  background-color: #DAC540;
}

.projects-presentation-content{
  height: 100%;
  background-color: #D8BF23;
}

/*QUIZZ*/
#projects-quizz{
  background-color: #D2D823;
}

.map-mosquitoes-mapper{
  text-align: center;
}

.daytime-mosquitoes{
  margin-top: 30px;
}

.daytime-mosquitoes h3{
  margin-bottom: 5px;
}

.daytime-mosquitoes canvas{
  margin-top: 5px;
}

.number-mosquitoes{
  margin-top: 20px;
  position: relative;
}

.text-number-mosquitoes{
  height: 300px;
  float: left;
  position: relative;
  text-align: center;
  align-items: center;
}

.elements-text-number-mosquitoes{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.pie-number-mosquitoes{
  float: right;
}

.size-mosquitoes{
  position: relative;
}

.text-size-mosquitoes{
  height: 300px;
  position: relative;
  text-align: center;
  align-items: center;
}

.elements-text-size-mosquitoes{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.temperature-mosquitoes{
  position: relative;
}

#temperature-mosquitoes-canvas{
  background-color: #D2D823;
}

.text-temperature-mosquitoes{
  height: 300px;
  float: left;
  position: relative;
  text-align: center;
  align-items: center;
}

.elements-text-temperature-mosquitoes{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.pie-temperature-mosquitoes{
  float: right;
}

.picture-mosquitoes{
  margin-top: 10px;
}

#place-mosquitoes-canvas{
}

#water-mosquitoes-canvas{
}

/*IDENTIFICATION*/
#projects-identification{
  text-align: center;
  background-color: #D8BF23;

}

.pie-identification canvas{
  background-color: #FF69B4;
  border-radius: 25px;
}

#antennae-identification-area{
  padding: 15px;
  border-style: solid;
  border-color: #D8BF23;
  border-radius: 25px;
  background-color: #FF69B4;
}

#mouthpiece-identification-area{
  padding: 15px;
  border-style: solid;
  border-color: #D8BF23;
  border-radius: 25px;
  background-color: #FF69B4;
}

#wings-identification-area{
  padding: 15px;
  border-style: solid;
  border-color: #D8BF23;
  border-radius: 25px;
  background-color: #FF69B4;
}


/********** Extra Large devices only **********/
@media (min-width: 1800px) {

/*QUIZZ*/
#projects-quizz{
  height: 2470px;
}

#projects-quizz h2{
  text-align: center;
  padding: 5px;
  margin-left: 400px;
  margin-right: 400px;
  border-width: 2px;
  border-color: black;
  border-style: solid;
}

#map-mosquitoes{
  margin-left: 350px;
  width: 1800px;
  height: 800px;
}

/*IDENTIFICATION*/
#projects-identification{
  height: 580px;
}

#projects-identification h2{
  padding: 5px;
  margin-left: 400px;
  margin-right: 400px;
  border-width: 2px;
  border-color: black;
  border-style: solid;
}

}

/********** Large devices only **********/
@media (min-width: 1200px) and (max-width: 1440px){

/*QUIZZ*/
#projects-quizz{
  height: 2470px;
}

#projects-quizz h2{
  text-align: center;
  padding: 5px;
  margin-left: 400px;
  margin-right: 400px;
  border-width: 2px;
  border-color: black;
  border-style: solid;
}

#map-mosquitoes{
  margin-left: 25px;
  width: 1300px;
  height: 500px;
}

/*IDENTIFICATION*/
#projects-identification{
  height: 580px;
}

#projects-identification h2{
  padding: 5px;
  margin-left: 400px;
  margin-right: 400px;
  border-width: 2px;
  border-color: black;
  border-style: solid;
}

}

/********** Medium devices only **********/
@media (min-width: 992px) and (max-width: 1199px) {

/*QUIZZ*/
#projects-quizz{
  height: 2370px;
}

#projects-quizz h2{
  text-align: center;
  font-weight: bold;
  padding: 5px;
}

#map-mosquitoes{
  margin-left: 5px;
  width: 950px;
  height: 400px;
}

#daytime-mosquitoes-canvas{
  width: 950px;
  height: 400px;
}

/*IDENTIFICATION*/
#projects-identification{
  height: 500px;
}

#projects-identification h2{
  font-weight: bold;
  padding: 5px;
}

}
  /********** Small devices only **********/
@media (min-width: 768px) and (max-width: 991px) {

  /*QUIZZ*/
  #projects-quizz{
    height: 3570px;
  }

  #projects-quizz h2{
    text-align: center;
    font-weight: bold;
    padding: 5px;
  }

  #map-mosquitoes{
    margin-left: 85px;
    width: 750px;
    height: 400px;
  }

  #daytime-mosquitoes-canvas{
    width: 850px;
    height: 400px;
  }

  /*IDENTIFICATION*/
  #projects-identification{
    height: 1350px;
  }

  #projects-identification h2{
    font-weight: bold;
    padding: 5px;
  }

  .pie-identification canvas{
    background-color: #D8BF23;
  }

  #antennae-identification-area{
    background-color: #D8BF23;
  }

  #mouthpiece-identification-area{
    background-color: #D8BF23;
  }

  #wings-identification-area{
    background-color: #D8BF23;
  }

}

/********** Extra small devices only **********/
@media (max-width: 767px) {


}

/********** Super extra small devices Only :-) (e.g., iPhone 4) **********/
@media (max-width: 479px) {


}
