/*About all Mosquito Project*/
#mosquito-mapper-content{
  box-sizing: border-box;
  list-style: none;
  width: 100%;
  padding: 0;
}

#mosquito-elements{
  box-sizing: border-box;
  list-style: none;
  width: 100%;
  padding: 0;
}

.projects-presentation-title{
  float: right;
  height: 100%;
  background-color: #DAC540;
}

.projects-presentation-content{
  height: 100%;
  background-color: #D8BF23;
}

/*QUIZZ*/

#projects-quizz{
  background-color: #D2D823;
  height: 800px;
}

#projects-quizz h2{
  text-align: center;
  padding: 5px;
  margin-left: 400px;
  margin-right: 400px;
  border-width: 2px;
  border-color: black;
  border-style: solid;
}

.map-mosquito{
  margin-top: 20px;
}

/*IDENTIFICATION*/

#projects-identification{
  height: 580px;
  text-align: center;
  background-color: #D8BF23;

}

#projects-identification h2{
  padding: 5px;
  margin-left: 400px;
  margin-right: 400px;
  border-width: 2px;
  border-color: black;
  border-style: solid;
}

.pie-identification canvas{
  background-color: #808080;
  border-radius: 25px;
}

#antennae-identification-area{
  padding: 15px;
  border-style: solid;
  border-color: #D8BF23;
  border-radius: 25px;
  background-color: #FF69B4;
}

#mouthpiece-identification-area{
  padding: 15px;
  border-style: solid;
  border-color: #D8BF23;
  border-radius: 25px;
  background-color: #FF69B4;
}

#wings-identification-area{
  padding: 15px;
  border-style: solid;
  border-color: #D8BF23;
  border-radius: 25px;
  background-color: #FF69B4;
}
