#nav-list h3:hover{
  color: #FFF;
}


/********** Extra Large devices only **********/
@media (min-width: 1800px) {

  #nav-list{
    margin-left: 50vh;
    margin-right: 20vh;
  }

}

/********** Extra Large devices only **********/
@media (min-width: 1440px) and (max-width: 1799px){

  #nav-list{
    margin-left: 50vh;
    margin-right: 20vh;
  }

}

/********** Large devices only **********/
@media (min-width: 1200px) and (max-width: 1439px){

  #nav-list{
    margin-left: 50vh;
    margin-right: 20vh;
  }

}

/********** Medium devices only **********/
@media (min-width: 992px) and (max-width: 1199px) {

  #nav-list{
    margin-left: 50vh;
    margin-right: 10vh;
  }

}

/********** Small devices only **********/
@media (min-width: 768px) and (max-width: 991px) {

  #nav-list{
    visibility: hidden;
  }

}

/********** Extra small devices only **********/
@media (max-width: 767px) {

  #header-nav {
    box-sizing: border-box;
    position: relative;
  }

  .navbar-header h1{

    float: left;
  }

  #navbarToggle{
    float: right;
    margin-top: 25px;
  }

  #collapsable-nav{
    float: none;
    text-align: center;
  }

  #nav-list{
    background-color: #13DC4B;
    transform: translateY(55px);
  }

  #nav-list li{
    float: none;
    width: 100%;
  }

  #nav-list h3{
  }

}

/********** Super extra small devices Only :-) (e.g., iPhone 4) **********/
@media (max-width: 479px) {

  #header-nav {
    box-sizing: border-box;
    position: relative;
  }

  .navbar-header h1{

    float: left;
  }

  #navbarToggle{
    float: right;
    margin-top: 25px;
  }

  #collapsable-nav{
    float: none;
    text-align: center;
  }

  #nav-list{
    background-color: #13DC4B;
    transform: translateY(55px);
  }

  #nav-list li{
    float: none;
    width: 100%;
  }

  #nav-list h3{
  }

}
