<link rel="stylesheet" href="css/navbar.home.css">

<div id="collapsable-nav" class="collapse navbar-collapse">
  <ul id="nav-list" class="nav navbar-nav navbar-fixed-top">
    <li>
      <h3 ui-sref="public.blog">Blog</h3>
    </li>
    <li>
      <h3 ng-click="homeCtrl.gotoId('home-projects')">Project</h3>
    </li>
    <li>
      <h3 ng-click="homeCtrl.gotoId('home-ideology')">Ideology</h3>
    </li>
    <li>
      <h3 ng-click="homeCtrl.gotoId('home-company')">Company</h3>
    </li>
    <li>
      <h3 ng-click="homeCtrl.gotoId('home-presentation')">Presentation</h3>
    </li>
  </ul>
</div>


<div id="home-section-content" class="container">
  <ul id="home-elements" class="elements">
    <!-- Begining Present Ourself -->
    <li id="home-presentation" class="">

      <div id="home-presentation-left" class="home-elements-box home-presentation-box col-xs-12 col-md-6">

        <div id="picture-camille" class="home-presentation-picture hidden-xs col-xs-12">
          <img></img>
        </div>

        <div id="presentation-camille" class="home-presentation-text col-xs-12">
          <h2 class="col-xs-12">Camille Guilbaud</h2>
          <p class="col-xs-12">
            A great Scientist
          </p>
        </div>

      </div>

      <div id="home-presentation-right" class="home-elements-box home-presentation-box col-xs-12 col-md-6">

        <div id="picture-theophile" class="home-presentation-picture hidden-xs col-xs-12">
          <img></img>
        </div>

        <div id="presentation-theophile" class="home-presentation-text col-xs-12">
          <h2 class="col-xs-12">Theophile Guilbaud</h2>
          <p class="col-xs-12">
            A great Developer
          </p>
        </div>

      </div>

    </li>
    <!-- End Present Ourself -->

    <!-- Begining Who are we? our company -->
    <li id="home-company" class="">

      <div class="home-title home-company-title home-elements-box col-xs-12 col-md-3">
        <h3>Company</h3>
      </div>
      <div class="home-section-content home-company-content home-elements-box col-xs-12 col-md-9">
        <p>
          We build and deliver products for citizen science. From hardcore metacommunity modelling
          to light-hearted social interaction, we give you the power to give a research-minded
          community the tools to collect, analyze and interpret data.
        </p>
      </div>

    </li>
    <!-- End Who are you -->

    <!-- Begining Ideology -->
    <li id="home-ideology" class="">
      <div class="home-title home-ideology-title home-elements-box col-xs-12 col-md-3">
        <h3>Ideology</h3>
      </div>
      <div class="home-section-content home-ideology-content home-elements-box col-xs-12 col-md-9">
        <p>
          Science is a public good and a public endeavour. New technologies can radically
          change how science is made and distributed. From our livingrooms, on our free time,
          we think long and hard of the future of Science and how to democratize Science.
        </p>
      </div>
    </li>
    <!-- End Ideology -->

    <!-- Begining Projects -->
    <li id="home-projects" class="">
      <div class="home-title home-projects-title home-elements-box col-xs-12 col-md-3">
        <h3>Projects</h3>
      </div>
      <div class="home-section-content home-projects-content home-elements-box col-xs-12 col-md-9">

        <div id="mosquito-mapper" ui-sref="public.mosquitomapper" class="our-project col-xs-12">
          <span>MosquitoMapper</span>
        </div>
        <div id="let-it-grow" class="our-project col-xs-12">
          <span>Let it grow</span>
        </div>
      </div>

    </li>
    <!-- End Projects -->

    <!-- Begining Blog -->
    <li id="home-blog" ui-sref="public.blog" class="col-xs-12 col-md-12 text-center">
      <h2>Blog</h2>
    </li>
    <!-- End Blog -->

  </ul>
</div>
