<link rel="stylesheet" href="css/navbar.mosquitomapper.css">

<div id="collapsable-nav" class="collapse navbar-collapse" ng-controller="MosquitoMapperFireCtrl as ctrl">
  <ul id="nav-list" class="nav navbar-nav navbar-fixed-top">
    <li>
      <h3 ng-click="ctrl.gotoId('projects-identification')">Identification</h3>
    </li>
    <li>
      <h3 ng-click="ctrl.gotoId('project-stat')">Mosquito data</h3>
    </li>
    <li>
      <h3 ng-click="ctrl.gotoId('projects-quizz')">Map</h3>
    </li>
    <li>
      <h3 ng-click="ctrl.gotoId('projects-presentation')">What's that?</h3>
    </li>
  </ul>
</div>


<div id="mosquito-mapper-content" class="container" ng-controller="MosquitoMapperFireCtrl as ctrl">

  <ul id="mosquito-elements" class="elements projects-elements">

    <li id="projects-presentation" class="projects-list-elements list-elements col-xs-12">
      <div class="projects-presentation-content col-xs-12 col-md-12">
        <h2>Mosquito Mapper</h2>
        <img src="/images/mosquitomapper_logo.png" alt="Mosquito Mapper Logo" class="col-md-4">
        <h4 class="col-md-8">The App that will save your skin from mosquito bites</h4>
        <p class="col-md-8">Do you want to help science? Mosquito Mapper is the first of a list of Citizen Science tools made to help scientists answer big questions and to help you, citizens of the world, avoiding theses annoying mosquitoes.</p>
        <h4 class="col-md-8">How does it work?</h4>
        <p class="col-md-8">It all relies on you. When using the app, you inform us of the presence of mosquitoes in your area. Not only that, but you will also provide us with data about your surroundings that will help us predict the behaviour of mosquitoes. You will also have the possibility to identify anatomical characteristics of the mosquito and send us a picture for further analysis.</p>
        <h4 class="col-md-8 col-sm-12">What we do with the data?</h4>
        <p class="col-md-8 col-sm-12">When we pool all the data you provide, we can create a real-time map of mosquito presence. For us scientists, these data help us understand the structure of mosquito populations and then we can try to predict where mosquitoes may appear so that we can prevent them from reaching you.</p>
        <h4 class="col-md-12">This is important!</h4>
        <p class="col-md-12">Mosquitoes are a primary vector of life-threatening diseases. Warning people about the probability of being bitten could save lives. Help us and help yourself by using our app! In this alpha release, you will be able to locate, identify and send us pictures of your encounters with mosquitoes. The data you sent will be used for scientific purposes, by downloading and using the app, you agree to let us use these data.</p>
        <div class="progress col-xs-12">
          <div id="MosquitoProgress" class="progress-bar progress-bar-success progress-bar-animated" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="width: 0%"></div>
        </div>
      </div>
    </li>

    <li id="projects-quizz" class="projects-list-elements list-elements col-xs-12">
      <span class="col-xs-12"><h2>Number of elements declared <span>{{ ctrl.quizzNumber }}</span></h2></span>
      <div class="col-md-1">

      </div>
      <div class="map-mosquitoes-mapper text-center col-md-10 col-xs-12">
        <div class="embed-responsive embed-responsive-16by9">
          <div id="map-mosquitoes" class="embed-responsive-item">
            Wait until the map is loaded
          </div>
        </div>
      </div>

      <div class="daytime-mosquitoes text-center col-md-12">
        <h3>When did you find our mosquitoes:</h3> <br>
        <canvas id="daytime-mosquitoes-canvas" width="1350" height="400"></canvas>
      </div>

      <!-- Error here about data -->
      <div id="project-stat" class="number-mosquitoes text-center col-md-12">
        <div class="pie-number-mosquitoes col-md-4 col-xs-12">
          <canvas id="number-mosquitoes-canvas" width="300" height="300"></canvas>
        </div>
        <div class="text-number-mosquitoes col-md-8 col-xs-12">
          <div class="elements-text-number-mosquitoes">
            <h3>Mosquitoes are in number or alone</h3>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit,
              sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
              Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
              nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
            </p>
          </div>
        </div>
      </div>

      <div class="size-mosquitoes text-center col-md-12">
        <div class="pie-size-mosquitoes col-md-4 col-xs-12">
          <canvas id="size-mosquitoes-canvas" width="300" height="300"></canvas>
        </div>
        <div class="text-size-mosquitoes col-md-8 col-xs-12">
          <div class="elements-text-size-mosquitoes">
            <h3>Size of the mosquitoes</h3>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit,
              sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
              Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
              nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
            </p>
          </div>
        </div>
      </div>
      <!-- Error stop here -->

      <div class="temperature-mosquitoes text-center col-md-12">
        <div class="pie-temperature-mosquitoes col-md-4 col-xs-12">
          <canvas id="temperature-mosquitoes-canvas" width="300" height="300"></canvas>
        </div>
        <div class="text-temperature-mosquitoes col-md-8 col-xs-12">
          <div class="elements-text-temperature-mosquitoes">
            <h3>Temperature around mosquitoes</h3>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit,
              sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
              Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
              nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
            </p>
          </div>
        </div>
      </div>

      <div class="text-center col-md-12">
        <div class="place-mosquitoes col-md-6">
          <div class="text-place-mosquitoes col-md-12">
            <div class="elements-text-place-mosquitoes">
              <h3>Are mosquitoes inside or outside</h3>
            </div>
          </div>
          <div class="graph-place-mosquitoes col-md-12">
            <canvas id="place-mosquitoes-canvas" width="300" height="300"></canvas>
          </div>
        </div>

        <div class="water-mosquitoes col-md-6">
          <div class="text-water-mosquitoes col-md-12">
            <div class="elements-text-water-mosquitoes">
              <h3>Is water around mosquitoes</h3>
            </div>
          </div>
          <div class="graph-water-mosquitoes col-md-12">
            <canvas id="water-mosquitoes-canvas" width="300" height="300"></canvas>
          </div>
        </div>
      </div>

      <div class="picture-mosquitoes text-center col-md-12">
        <h3>Number of mosquitoes you take in picture: {{ ctrl.nbPictures }}</h3>
      </div>

    </li>

    <li id="projects-identification" class="projects-list-elements list-elements col-xs-12 col-md-12">

      <span class="col-xs-12"><h2>Number of elements identified <span>{{ ctrl.idNumber }}</span></h2></span>

      <div class="all-identification-area col-xs-12">

        <div id="wings-identification-area" class="mosquito-mapper-data-div col-xs-12 col-md-4">
          <p>
            <span id="wings-label-type-a">No Mosquitoes</span> : <span id="wings-value-type-a">{{ ctrl.wingsType1 }}</span><br>
            <span id="wings-label-type-b">Mosquitoes</span> : <span id="wings-value-type-b">{{ ctrl.wingsType2 }}</span><br>
            <span id="wings-label-type-c">Not define </span> : <span id="wings-value-type-c">{{ ctrl.wingsNOTA  }}</span><br>
          </p>
          <div class="pie-identification pie-identification-antennae">
            <canvas id="mosquitomapper-wings-canvas" width="300" height="300"></canvas>
          </div>
        </div>

        <div id="mouthpiece-identification-area" class="mosquito-mapper-data-div col-xs-12 col-md-4">
          <p>
            number of <span id="mouthpiece-label-type-a">Anophile</span> : <span id="mouthpiece-value-type-a">{{ ctrl.mouthpieceType1 }}</span><br>
            number of <span id="mouthpiece-label-type-b">Other</span> : <span id="mouthpiece-value-type-b">{{ ctrl.mouthpieceType2 }}</span><br>
            number of <span id="mouthpiece-label-type-c">Not define </span> : <span id="mouthpiece-value-type-c">{{ ctrl.mouthpieceNOTA  }}</span><br>
          </p>
          <div class="pie-identification pie-identification-antennae">
            <canvas id="mosquitomapper-mouthpiece-canvas" width="300" height="300"></canvas>
          </div>
        </div>

        <div id="antennae-identification-area" class="mosquito-mapper-data-div col-xs-12 col-md-4">
          <p>
            number of <span id="antennae-label-type-a">Males</span> : <span id="antenae-value-type-a">{{ ctrl.antennaeType1 }}</span> <br>
            number of <span id="antennae-label-type-b">Females</span> : <span id="antenae-value-type-b">{{ ctrl.antennaeType2 }}</span> <br>
            <span id="antennae-label-type-c">Unknown</span>  : <span id="antenae-value-type-c">{{ ctrl.antennaeNOTA  }}</span> <br>
          </p>
          <div class="pie-identification pie-identification-antennae">
            <canvas id="mosquitomapper-antennae-canvas" width="300" height="300"></canvas>
          </div>
        </div>

      </div>

    </li>

  </ul>

</div>
