<link rel="stylesheet" href="css/navbar.blog.css">

<div id="container-blog" ng-controller="BlogFireCtrl as ctrl">

  <div id="articles-blog" class="col-md-8">
    <article-blog ng-repeat="list in ctrl.blogData" title="list.title" time="list.time"
    author="list.author" date="list.date" blog="list.paragraphs" ref="list.references">

    </article-blog>
  </div>

  <div id="list-blog" class="col-md-2 pull-right">
    <div class="sidebar-nav-fixed affix">
      <div class="well">
        <ul class="nav">
          <li ng-repeat="l in ctrl.listData"><a ng-click="ctrl.gotoId(l)">{{ l }}</a></li>
        </ul>
      </div>
    </div>
  </div>

</div>
